[class*="col-"] {
  padding: 30px;
}

.container {
  text-align: center;
}

.container-fluid {
  background-color: #f9f9f9;
  margin-top: 30px;
}

#lezioni img {
  max-height: 180px;
  margin-bottom: 15px;
}

#steps img {
  height: 200px;
  width: auto;
  margin-bottom: 15px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  height: 250px;
  margin: 15px 0;
}

p {
  padding: 15px 0;
}
